@import 
url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
*{
    font-family: 'Roboto Condensed';
  }
html, body {
    margin: 0%;
    height: 100%;
    
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, 
    rgba(31,101,188,1) 64%, rgba(42,140,247,1) 89%, 
    rgba(0,173,255,1) 100%);
}
form{
    background: rgba(255,255,255,0.45);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    border: 1px solid rgba(255,255,255,0.225);
    display: flex;
    align-items: center;
    /*background-color: #afd3f9;*/
    width: 60%;
    height: 70%;
    font-size: 15px;
    padding: 5%;
    border-radius: 4%;
    max-width: 350px;
    min-width: 300px;
    max-height: 700px;
    min-height: 500px;
    box-shadow: 1px 2px 5px 0px #000000;
    justify-content: center;
    
}
ul{
    margin: 0%;
    list-style: none;
}
#img_perfil{
    display: flex;
    justify-content: center;
    margin-bottom: 15%;
    margin-top: 0%;

}
li{
    margin-top: 15%;
    display: flex;
    justify-content: start;
}
li > label {
    margin-right: 4%;
}
li > input {
    outline-style: none;
    background: none;
    border-bottom: solid #0b1b31;
    border-top: none;
    border-left: none;
    border-right: none;
    max-height: 20px;
    padding-top: 10px;
    
}
#container_submit{
    display: flex;
    justify-content: center;
    margin-top: 13%;
}
#submit{
    padding-top: 0%;
    width: 30%;
    height: 15%;
    min-height: 20px;
    border-radius: 5%;
}
#submit:active{
    background-color: #265ca2;
}
#submit:hover{
    background-color: #265ca2;
}
#password,#contraseña,#usuario{
    margin-left:15%;
}
#checkbox {
    width: 1.15em;
    height: 1.15em;
}
#checkbox:hover {
    width: 15px;
    height: 15px
}
@media (max-width:500px){
    html, body {
        margin: 0%;
        height: 100%;
    }
    ul>li>img{
        width: 0%;
        height: 0%;
    }
    ul{
        display:grid
    }
    *{
        font-size: 15px;
    }
    li> label {
        margin-right: 0%;
    }
    #password{
        margin-left:0px;
    }
    form{
        height: 300px;
    }
}
@media(max-width:600px){

    #password{
        margin-left:10%;
    }

}
